/* Large desktop */
@media (min-width: 1440px) { ... }

@media (max-width: 1200px) {
  
  .container-fluid,
  .navbar-wrapper {
    width: 90%;
  }
  
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 980px) {
  
  .container-fluid,
  .navbar-wrapper {
    width: 95%;
  }
  
  #three-col .span4 .caption h1 {
    font-size: 1.4em;
  }
  #three-col .span4 .caption p {
    font-size: 0.85em;
    margin-top: 5px;
  }
  
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  
  body {
    padding: 0;
  }
  
  #three-col .span4 {
    float: none;
    height: 300px;
    margin: 0 auto 20px auto;
  }
    #three-col .span4 .screenshot {
      max-width: none;
      width: 100%;
    }
  
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  
  .navbar-wrapper {
    margin: 0;
    width: 100%;
  }
  .navbar .nav {
    margin-right: 0;
  }
    .navbar .nav li a {
      font-size: 0.85em;
      padding: 10px;
    }
  .navbar .btn {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 5px;
  }
  
  .container-fluid {
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  #title {
    margin-bottom: 30px;
  }
    #logo {
      width: 80%;
    }
    #slogan {
      font-size: 1em;
    }
  
  #three-col .span4 {
    height: 200px;
    margin-bottom: 15px;
  }
    #three-col .span4 .caption {
      padding: 10px;
    }
      #three-col .span4 .caption h1 {
        font-size: 1.2em;
        line-height: 1.2em;
      }
      #three-col .span4 .caption p {
        display: none;
      }
  
  #connect h1 {
    font-size: 1em;
  }   
  #copyright {
    font-size: 0.75em;
  }
    #is-logo {
      max-width: 75%;
    }
  
}