/*========================================
  FONT DEFINITIONS
  ========================================*/

@font-face {
	font-family: 'Entypo';
	src: url('entypo/entypo.eot?#iefix') format('embedded-opentype'),
	     url('entypo/entypo.woff') format('woff'),
	     url('entypo/entypo.ttf')  format('truetype'),
	     url('entypo/entypo.svg#entypo') format('svg');
}
@font-face {
	font-family: 'EntypoSocial';
	src: url('entypo/entypo-social.eot?#iefix') format('embedded-opentype'),
	     url('entypo/entypo-social.woff') format('woff'),
	     url('entypo/entypo-social.ttf')  format('truetype'),
	     url('entypo/entypo-social.svg#entypo-social') format('svg');
}

/*========================================
  GENERAL STYLES
  ========================================*/

body {
  background: url('../img/background.png');
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container-fluid,
.navbar-wrapper {
  margin: 0 auto;
  width: 85%;
}

.container-fluid {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0;
}

.row {
  margin: 0 auto;
}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/*========================================
  NAVBAR
  ========================================*/

.navbar {
}
  .navbar-inner {
    border-radius: 0;
    padding: 0; 
  }
    .navbar .btn {
      float: right;
    }

/*========================================
  TITLE
  ========================================*/

#title {
  margin-bottom: 50px;
  text-align: center;
}
  #logo, #slogan {
    display: block;
    margin: 0 auto;
  }
  #slogan {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 8px;
  }

/*========================================
  3-COLUMN MIDDLE
  ========================================*/

#three-col {
}
  #three-col .span4 {
    background: #fff;
    border: 1px solid #333;
    float: left;
    height: 360px;
    max-width: 500px;
    opacity: 0.9;
    overflow: hidden;  
    position: relative;
  }
    #three-col .span4 .screenshot {
      max-height: 360px;
      max-width: 600px;
    
      position: absolute;
      left: 0;
      top: 0;
    }
    #three-col .span4 .caption {
      background: rgba(0, 0, 0, 0.9);
      color: #fff;
      padding: 15px;
      width: 100%;
    
      position: absolute;
      bottom: 0;
    }
      #three-col .span4 .caption h1 {
        font-size: 1.7em;
        font-weight: 600;
        margin: 0;
      }
      #three-col .span4 .caption p {
        margin: 0;
        margin-top: 8px;
      }
      #three-col .span4 .caption .ico {
        background: #fff;
        border: 1px solid #fff;
        border-radius: 100px;
        color: #333;
        display: none;
        font-family: 'EntypoSocial', sans-serif;
        font-size: 50px;
        line-height: 42px;
        height: 40px;
        text-align: center;
        width: 40px;
        
        position: absolute;
        right: 15px;
        top: 15px;
      }

/*========================================
  FOOTER
  ========================================*/

#footer {
  margin-top: 50px;
  text-align: center;
}
  #connect {
    margin-bottom: 50px;
  }
    #connect h1 {
      display: inline-block;
      font-size: 1.5em;
      font-weight: normal;
      margin: 0;
    }
    #social-icons {
      display: inline-block;
      padding: 0;
      margin: 0 0 0 10px;
      vertical-align: middle;
    }
      #social-icons li a {
        color: #333;
        font-family: 'EntypoSocial', sans-serif;
        font-size: 3em;
      }
      #social-icons li a:hover {
        color: #666;
        text-decoration: none;
      }
      #social-icons li {
        display: inline-block;
        margin-right: 2px;
      }
      #social-icons .email {
        font-family: 'Entypo', sans-serif;
      }
  #copyright {
    font-size: 0.8em;
    line-height: 1.6em;
  }
    #copyright span {
      display: block;
    }
    #is-logo {
      margin-top: 30px;
      max-width: 300px;
      opacity: 0.85;
    }