%h1 Dear #{@user.first_name},

%p Thank you for registering with Envelope!

%p Here is a confirmation link: #{link_to confirm_user_url(@user.id, @user.confirmation_token), confirm_user_url(@user.id, @user.confirmation_token), :target => '_TOP'}
