= bootstrap_form_tag forgot_password_path, :class => 'form-horizontal' do
  .modal
    .modal-header
      %h3 Forgot Password
    .modal-body
      - if flash.notice
        .alert= flash.notice
      = bootstrap_text_field_tag :login, params[:login], label: 'Username or Email'
    .modal-footer
      = bootstrap_submit_tag 'Reset Password'
