!!!
%html
  %head
    %title Envelope
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body.full
    #topbar

    .content
      = yield
